{% extends 'base.html'%}

{%block head %}
    <title>Update Page</title>
{%endblock%}

{%block body %}
    <h1 style="text-align: center">Update</h1>
    <div class="form">
        <form action="/update/{{task.id}}" method="POST" style="text-align: center">
            <input type="text" name="content" id="content">
            <input type="submit" value="Update Task">
        </form>
    </div>
    <table style="text-align: center">
        <tr>
            <th>Task</th>
            <th>Date</th>
            <th>Options</th>
        </tr>
        <tr>
            <th>{{ task.Task }}</th>
            <th>{{ task.date_created.date() }}</th>
            <th>
                <a href="/delete/{{task.id}}">Delete</a>
            </th>
        </tr>
    </table>
{%endblock%}